<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<br>

<p>
  <strong>All Events Created:</strong>
  <% @events.each do |event|%>
    <%= events.name%>
  <%end%>
</p>

<%= link_to 'Back', new_user_path %>
