<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>My Events:</strong>
    <br>
    <% @user.events.each do |event| %>
      <%= event.description %>
      <br>
    <%end%>
</p>



<%= link_to 'Back', new_user_path %><br>
<%= link_to 'Create new event', new_event_path %>